
MONGO_URL_DEV=mongodb://localhost:27017/quotation-server-dev
JWT_SECRET_DEV=quotation-@server-@dev-@secret

MONGO_URL_TEST=mongodb://localhost/nodejs-api-boilerplate-test
JWT_SECRET_TEST=ewtijwebgiuweg9w98u9283982t!!u1h28h1t1h89u9h@$$

MONGO_URL_PROD=mongodb://localhost:27017/quotation-server-prod
JWT_SECRET_PROD=quotation-@server-@prod-@secret

PORT=4000
PORT_PROD=9000
NODE_ENV=development

RAVEN_ID=yourapikey
DOCS_WEBSITE=yourwebsiteurl
